.heading h1 {
    font-style: italic;
    font-size: 30px;
    margin-top: 10px;
    line-height: 10px;
}

.heading h3 {
    font-style: normal;
    font-size: 10px;
    letter-spacing: 5px;
}

.body-image {
    display: block;
    margin-left: ;
    margin-right: auto;
}

.top-navigate {
    float: right;
    font-size: 30px;
}